body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #7e57c2, #4527a0);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.logo{
  width: 90px;
  height: auto;

}
.textbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.textbox {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #333;
}
.copy-btn, .delete-btn, .paste-btn, .add-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #7e57c2;
  margin-left: 5px;
  font-size: 16px;
}
h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .textbox {
    width: 80%;
  }
  .copy-btn, .delete-btn, .paste-btn, .add-btn {
    width: 30%;
    margin-left: 0;
    margin-top: 5px;
  }
  .container {
    padding: 10px;
  }
}
